* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #E8DFCA;
  padding: 30px;
  text-align: center;
}
.navbar {
  display: flex;
  background-color: #AEBDCA;
  justify-content: end;
}
.navbar a {
  color: aliceblue;
  padding: 20px 40px;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover {
  background-color: #ddd;
  color: #333;
}
.main {
  display: flex;
}
#sidebar {
  background-color: #E8DFCA;
  flex: 25%; /*basis*/
  padding: 20px;
  order: 1;
}
#content {
  flex: 75%;
  padding: 20px;
  background-color: #F5EFE6;
  
}
.ph {
  width: 100%;
  padding: 20px;
  margin: 15px;
  background-color: #7895B2;
}
.box {
  margin-bottom: 20px;
}
p {
  margin: 10px 0;
}
footer {
  background-color: #AEBDCA;
  padding: 20px;
  text-align: center;
  margin-top: 56px;
}
@media screen and (max-width:800px) {
  .main,
  .navbar {
    flex-direction: column;
  }
  .navbar a{
    border-bottom:1px solid #F5EFE6;
  }
  #sidebar{
    order: -1;
}
}
